$main-font-size: 14px;
$main-font-family: Arial;

.App {
  /* //text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px 50px;
  font-size: $main-font-size;
  font-family: $main-font-family;
}

a {
  text-decoration: none;
  color: darkgrey;

  &:hover {
    color: rgb(11, 11, 73);
    cursor: pointer;
  }
}

button {
  border: none;
  background-color: transparent;
  margin: 0px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: $main-font-size;
  font-family: $main-font-family;

  &:focus {
    outline: none;
  }
  &:active {
    outline: 1px solid white;
  }
}
