.expense-page{
    padding: 0 40px;

    label, .add-comment{
        padding: 5px 10px 7px;
        background-color: lightblue;
        border-radius: 5px;
        margin: 0;
    }
    
    input[type='file'] {
        margin: 5px 0;
        display: none;
      }
    
      input[type='text'] {
        margin: 5px 0;
        // color: transparent;
        // display: none;
      }

    .no-data{
        max-width: 120px;
        text-align: right;
    }
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
}

