@import '../../scss/variables.scss';

.expense-info {
  display: flex;
  flex-direction: column;

  .row {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    border: 1px solid $header-color;
    border-radius: 4px;
    margin-bottom: 3px;

    span {
      flex-basis: 0;
      flex-grow: 1;
      align-self: flex-start;
      margin-bottom: 10px;
    }
  }
}

label.receipt-label,
.add-comment {
  padding: 5px 10px 7px;
  background-color: $main-color;
  color: white;
  border-radius: 5px;
  max-width: 130px;
}

input[type="file"] {
  display: none;
}

input[type="text"] {
  max-width: 146px;
  margin-bottom: 10px;
}

.add-comment {
  margin: 0;
  max-width: 150px;
}

@media only screen and (min-width: 768px) {
  .expense-info {
    width: 600px;
  }
}
