@import '../../scss/variables.scss';

table.list {
  width: 100%;
  border-collapse: collapse;

  tr {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #c8c7c7;

    &:nth-child(even) {
      background-color: $table-grey-color;
    }
    &:hover {
      background-color: $header-color;
    }
  }

  th {
    padding: 12px 0;
    text-align: left;
    background-color: $main-color;
    color: white;

    button{
      color: white;
    }
  }
  td{
    text-align: left;

    a{
      color: $main-color;
      text-shadow: unset;
    }
  }
  tfoot tr {
    background-color: $table-grey-color;
    border: none !important; 

    &:hover{
      background-color: $table-grey-color;
    }
  }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  /* Force table to not be like tables anymore */
  table, thead, tbody, tfoot, th, td, tr { 
		display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

  tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
    padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:before { content: attr(data-title) ': '; }
  td:last-of-type:before { content: ""; }
  
  tfoot tr td {
    padding-left: 0;
  }
}

